<!-- <footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h5>Barbearia</h5>
        <p>A maior barbearia do Brasil, com atendimento de qualidade e profissionais especializados.</p>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <h5>Contato</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt me-2"></i> Av. Paulista, 1000, São Paulo/SP</li>
          <li><i class="bi bi-telephone me-2"></i> (11) 99999-9999</li>
          <li><i class="bi bi-envelope me-2"></i> contato@barbearia.com.br</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Horário de Funcionamento</h5>
        <ul class="list-unstyled">
          <li>Segunda a Sexta: 8h às 18h</li>
          <li>Sábado: 8h às 16h</li>
          <li>Domingo: Fechado</li>
        </ul>
      </div>
    </div>
    <hr class="my-3">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">&copy; <%= Date.today.year %> Barbearia. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer> -->

<footer class="container rounded bg-dark text-white text-center py-3">
  <div class="container">
    <p class="mb-0" style="font-family: 'Playfair Display'" style="color: #FFD700;" > &copy; <%= Time.zone.now.year %> <i class="bi bi-scissors" ></i> De Ouro. Todos os direitos reservados.</p>
     <%# Pode adicionar links para política de privacidade, etc. %>
  </div>
</footer>