
<h1>Recuperação de Senha</h1>

<p>Olá <%= @customer.name %>,</p>

<p>Você solicitou a recuperação de senha. Para definir uma nova senha, clique no link abaixo:</p>

<p><%= link_to 'Redefinir minha senha', @reset_url %></p>

<p>Este link expirará em 2 horas.</p>

<p>Se você não solicitou esta recuperação de senha, por favor ignore este email.</p>